@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

.header {
  text-align: center;
  margin: 1em auto;
  
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  color: #ffff;
background-image: linear-gradient(to left bottom, #008dda, #009ddf, #00ace2, #16bbe2, #41c9e2);
}

textarea,input,select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
}

input, textarea {
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

.inline {
  display: inline;
  width: 10px;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

label {
  display: block;
  margin: 0.5rem 0;
  padding: 2px 1px 0 1px;
}

input[type="submit"]{
  display: block;
  width: 20%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #F7EEDD;
  color: #008DDA;
  min-width: 300px;
  border: none;
}

.isi-form {
  margin: auto;
  max-width: 600px;
}
